# Segmenting and Clustering Neighborhoods in Toronto | Oleksandr Tsapin
Peer-graded Assignment, 13.11.2020

### PART 1 (QUESTION 1)
#### Scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

Step 1. Fetch the HTML from the URL using Urllib.request

In [1]:
# import the library we will be using to connect to the Wikipedia page and fetch the contents of that page
import urllib.request

In [2]:
# specify the URL of the Wikipedia page we are looking to scrape
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
# open the url using urllib.request and put the HTML into the page variable
page = urllib.request.urlopen(url)

Step 2. Use the power of BeautifulSoup to extract and work with the data

In [4]:
# import the BeautifulSoup library so we can parse HTML and XML documents
from bs4 import BeautifulSoup

In [5]:
# we use Beautiful Soup to parse the HTML data we stored in our ‘url’ variable and store it in a new variable 
# called ‘soup’ in the Beautiful Soup format. Jupyter Notebook prefers we specify a parser format so we use 
# the “lxml” library option

soup = BeautifulSoup(page, "lxml")

In [6]:
# To get an idea of the structure of the underlying HTML in our web page, we can view the code in 
# two ways: a) right click on the web page itself and click View Source 
# or b) use Beautiful Soup’s prettify function and check it out right there in our Jupyter Notebook.

#print(soup.prettify())

In [7]:
# use the 'find_all' function to bring back all instances of the 'table' tag in the HTML 
# and store in 'all_tables' variable
all_tables = soup.find_all("table")
#all_tables

In [8]:
# Looking through the output of ”all_tables” we can again see that the class id of our chosen table 
# is ”wikitable sortable”. We can use this to get BS to only bring back the table data for this particular table 
# and keep that in a variable called ”right_table“
right_table = soup.find('table', class_='wikitable sortable')
#right_table

In [9]:
# We know that the table is set up in rows (starting with <tr> tags) with the data sitting 
# within <td> tags in each row. We aren’t too worried about the header row with the <th> elements 
# as we know what each of the columns represent by looking at the table.

# Let's start looping through the rows
# There are three columns in our table that we want to scrape the data from so we will set up 
# three empty lists (A, B, and C) to store our data in.

# To start with, we want to use the Beautiful Soup ‘find_all’ function again and set it to look for 
# the string ‘tr’. We will then set up a FOR loop for each row within that array and set Python to loop through 
# the rows, one by one.

# Within the loop we are going to use find_all again to search each row for <td> tags with the ‘td’ string. 
# We will add all of these to a variable called ‘cells’ and then check to make sure that there are 3 items 
# in our ‘cells’ array (i.e. one for each column).

# If there are then we use the find(text=True)) option to extract the content string from within each <td> element 
# in that row and add them to the A-C lists we created at the start of this step. Let’s have a look at the code:

A = []
B = []
C = []

for row in right_table.findAll('tr'):
    cells = row.findAll('td')
    if len(cells) == 3:
        A.append(cells[0].find(text = True))
        B.append(cells[1].find(text = True))
        C.append(cells[2].find(text = True))

In [10]:
print(A[:10], B[:10], C[:10])

['M1A\n', 'M2A\n', 'M3A\n', 'M4A\n', 'M5A\n', 'M6A\n', 'M7A\n', 'M8A\n', 'M9A\n', 'M1B\n'] ['Not assigned\n', 'Not assigned\n', 'North York\n', 'North York\n', 'Downtown Toronto\n', 'North York\n', 'Downtown Toronto\n', 'Not assigned\n', 'Etobicoke\n', 'Scarborough\n'] ['Not assigned\n', 'Not assigned\n', 'Parkwoods\n', 'Victoria Village\n', 'Regent Park, Harbourfront\n', 'Lawrence Manor, Lawrence Heights\n', "Queen's Park, Ontario Provincial Government\n", 'Not assigned\n', 'Islington Avenue, Humber Valley Village\n', 'Malvern, Rouge\n']

###### Achtung!

We see the unwanted \n near each item in the lists. This is a Python new line character. Let's remove it before converting data into pandas data frame.

In [11]:
A_clean = []
B_clean = []
C_clean = []

for x in A:
    y = x.strip('\n')
    A_clean.append(y)

for x in B:
    y = x.strip('\n')
    B_clean.append(y)
    
for x in C:
    y = x.strip('\n')
    C_clean.append(y)
    
print(A_clean[:10], B_clean[:10], C_clean[:10])

['M1A', 'M2A', 'M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M8A', 'M9A', 'M1B'] ['Not assigned', 'Not assigned', 'North York', 'North York', 'Downtown Toronto', 'North York', 'Downtown Toronto', 'Not assigned', 'Etobicoke', 'Scarborough'] ['Not assigned', 'Not assigned', 'Parkwoods', 'Victoria Village', 'Regent Park, Harbourfront', 'Lawrence Manor, Lawrence Heights', "Queen's Park, Ontario Provincial Government", 'Not assigned', 'Islington Avenue, Humber Valley Village', 'Malvern, Rouge']

Step 3. Transform the data into a pandas dataframe

In [12]:
# Pandas lets us convert lists into dataframes which are 2 dimensional data structures with rows and 
# columns, very much like spreadsheets or SQL tables.

# We’ll import pandas and create a dataframe with it, assigning each of the lists A-C into a column 
# with the name of our source table columns i.e. Postal_Code, Borough, Neighbourhood.

import pandas as pd
df = pd.DataFrame(A_clean,columns=['Postal_Code'])
df['Borough'] = B_clean
df['Neighbourhood'] = C_clean
df

,Postal_Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

Step 4. Clean the data

In [13]:
# Drop raws if 'Borough' column is 'Not assigned'
Not_assigned = df[df['Borough'] == 'Not assigned'].index
df.drop(Not_assigned, inplace = True)
df

,Postal_Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [14]:
# reset the index and assigned it to df2, main dataframe we are going to work with.
df2 = df.reset_index(drop = True)
df2

,Postal_Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [15]:
# Assignment: If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be 
# the same as the borough.

# Let's check if there are many Not assigned neighborhoods in dataframe.
if 'Not assigned' not in df2.values:
    print('Element does not exists in Dataframe')

Element does not exists in Dataframe

In [16]:
# Use the .shape method to print the number of rows of your dataframe.
df2.shape

(103, 3)

### PART 2 (QUESTION 2)
#### Use the Geocoder Python package to add the latitude and the longitude coordinates of each neighborhood to the dataframe.

Step 1. Get geospatial data

In [17]:
# import geocoder
import geocoder 

latitude=[]
longitude=[]

# google API doesn't work, I use arcgis API instead.
for postal_code in df2['Postal_Code']:
    g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
    print(postal_code, g.latlng)
    while (g.latlng is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        print(postal_code, g.latlng)
    latlng = g.latlng
    latitude.append(latlng[0])
    longitude.append(latlng[1])

M3A [43.75245000000007, -79.32990999999998]
M4A [43.73057000000006, -79.31305999999995]
M5A [43.65512000000007, -79.36263999999994]
M6A [43.72327000000007, -79.45041999999995]
M7A [43.66253000000006, -79.39187999999996]
M9A [43.662630000000036, -79.52830999999998]
M1B [43.811390000000074, -79.19661999999994]
M3B [43.74923000000007, -79.36185999999998]
M4B [43.70718000000005, -79.31191999999999]
M5B [43.65739000000008, -79.37803999999994]
M6B [43.70687000000004, -79.44811999999996]
M9B [43.65034000000003, -79.55361999999997]
M1C [43.78574000000003, -79.15874999999994]
M3C [43.72168000000005, -79.34351999999996]
M4C [43.68970000000007, -79.30681999999996]
M5C [43.65215000000006, -79.37586999999996]
M6C [43.69211000000007, -79.43035999999995]
M9C [43.64857000000006, -79.57824999999997]
M1E [43.765750000000025, -79.17469999999997]
M4E [43.67709000000008, -79.29546999999997]
M5E [43.64536000000004, -79.37305999999995]
M6E [43.68784000000005, -79.45045999999996]
M1G [43.76812000000007, -79.21760999999998]
M4G [43.709020000000066, -79.36348999999996]
M5G [43.65609000000006, -79.38492999999994]
M6G [43.668690000000026, -79.42070999999999]
M1H [43.76944000000003, -79.23891999999995]
M2H [43.80225000000007, -79.35557999999997]
M3H [43.75788000000006, -79.44846999999999]
M4H [43.70142000000004, -79.34904999999998]
M5H [43.64970000000005, -79.38257999999996]
M6H [43.665050000000065, -79.43890999999996]
M1J [43.74446000000006, -79.23116999999996]
M2J [43.780970000000025, -79.34780999999998]
M3J [43.76476000000008, -79.48797999999994]
M4J [43.68811000000005, -79.33417999999995]
M5J [43.64285000000007, -79.38075999999995]
M6J [43.64848000000006, -79.41773999999998]
M1K [43.725820000000056, -79.26460999999995]
M2K [43.781120000000044, -79.38059999999996]
M3K [43.73384000000004, -79.46827999999994]
M4K [43.68375000000003, -79.35511999999994]
M5K [43.64710000000008, -79.38152999999994]
M6K [43.639410000000055, -79.42675999999994]
M1L [43.71289000000007, -79.28505999999999]
M2L [43.756980000000055, -79.38059999999996]
M3L [43.720710000000054, -79.51700999999997]
M4L [43.667970000000025, -79.31466999999998]
M5L [43.64840000000004, -79.37913999999995]
M6L [43.71381000000008, -79.48873999999995]
M9L [43.75948000000005, -79.55706999999995]
M1M [43.72360000000003, -79.23495999999994]
M2M [43.79182000000003, -79.41371999999996]
M3M [43.73224000000005, -79.50177999999994]
M4M [43.66213000000005, -79.33496999999994]
M5M [43.73545000000007, -79.41915999999998]
M6M [43.695170000000076, -79.48396999999994]
M9M [43.733670000000075, -79.53768999999994]
M1N [43.695100000000025, -79.26465999999994]
M2N [43.76774000000006, -79.40727999999996]
M3N [43.75478000000004, -79.51958999999994]
M4N [43.72843000000006, -79.38712999999996]
M5N [43.71208000000007, -79.41847999999999]
M6N [43.67646000000008, -79.48271999999997]
M9N [43.705070000000035, -79.51803999999998]
M1P [43.75998000000004, -79.26939999999996]
M2P [43.747780000000034, -79.40032999999994]
M4P [43.71276000000006, -79.38850999999994]
M5P [43.69479000000007, -79.41439999999994]
M6P [43.659730000000025, -79.46280999999993]
M9P [43.696300000000065, -79.52925999999997]
M1R [43.75075000000004, -79.30053999999996]
M2R [43.77989000000008, -79.44677999999999]
M4R [43.71458000000007, -79.40667999999994]
M5R [43.674840000000074, -79.40451999999993]
M6R [43.64777000000004, -79.44988999999998]
M7R [43.648690000000045, -79.38543999999996]
M9R [43.68681000000004, -79.55727999999993]
M1S [43.794520000000034, -79.26707999999996]
M4S [43.703400000000045, -79.38658999999996]
M5S [43.663110000000074, -79.40179999999998]
M6S [43.649820000000034, -79.47547999999995]
M1T [43.784910000000025, -79.29721999999998]
M4T [43.690480000000036, -79.38317999999998]
M5T [43.65351000000004, -79.39721999999995]
M1V [43.817810000000065, -79.28043999999994]
M4V [43.68568000000005, -79.40236999999996]
M5V [43.640820000000076, -79.39817999999997]
M8V [43.60987000000006, -79.49808999999993]
M9V [43.744530000000054, -79.58623999999998]
M1W [43.80079000000006, -79.32161999999994]
M4W [43.68190000000004, -79.37828999999994]
M5W [43.648690000000045, -79.38543999999996]
M8W [43.601240000000075, -79.53878999999995]
M9W [43.71174000000008, -79.57940999999994]
M1X [43.83412000000004, -79.21667999999994]
M4X [43.667880000000025, -79.36648999999994]
M5X [43.64828000000006, -79.38145999999995]
M8X [43.65319000000005, -79.51112999999998]
M4Y [43.66659000000004, -79.38132999999993]
M7Y [43.648690000000045, -79.38543999999996]
M8Y [43.632780000000025, -79.48944999999998]
M8Z [43.62513000000007, -79.52680999999995]

Step 2. Add new geospatial data to our dataframe df2

In [18]:
df2['Latitude'] = latitude
df2['Longitude'] = longitude

In [19]:
df2

,Postal_Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.75245,-79.32991
1,M4A,North York,Victoria Village,43.73057,-79.31306
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.65512,-79.36264
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.72327,-79.45042
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.66253,-79.39188
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.65319,-79.51113
99,M4Y,Downtown Toronto,Church and Wellesley,43.66659,-79.38133
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.64869,-79.38544
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.63278,-79.48945
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.62513,-79.52681